:root{
    --primary-dark:#1F2937;
    --primary-green:#6EE787;
}
body{
    background-color:var(--primary-dark);
    color: var(--primary-green);
}
.container{
    width: 100%;
    margin: auto;
}
#bill-amount{
    display: block;
    padding:0.8rem 5rem;
    border-radius: 0.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#cash-given{
    display: block;
    padding:0.8rem 5rem;
    border-radius: 0.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#check-button{
    display: block;
    margin-top: 10rem;
    margin: auto;
    background:transparent ;
    color: var(--primary-green);
    border-color: var(--primary-green);
    border-width: medium;
    padding: 0.5rem 1rem;
    border-radius:0.3rem;
}
table, th, td {
    border: 2px solid var(--primary-green);
    border-collapse: collapse;
    table-layout: fixed;
    width: 2.8rem;
}

